*{
  margin: 0;
  padding: 0;
}

.header{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header .logo{
  width: 10%;
  padding: 10px 20px;
  font-weight: bold;
}

.header .logo a{
  text-decoration: none;
  font-size: 32px;
  color: orangered;
}
.header .logo a span{
  color: rgba(255, 68, 0, 0.315);
}

.header .nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .nav ul li{
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px;
  font-weight: bold;
}
.header .nav ul .bar-icon{
  display: none;
}
.header .nav ul li a{
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  color: grey;
  text-transform: uppercase;
  
  padding: 10px;
}

.header .nav ul li a:hover {
  color: orangered;
}

.contain{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contain .main-img{
  width: 100%;
  height: 60vh;
  background-image: url(../img/7.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.contain .mini-imgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contain .mini-imgs img{
  width: calc(93% / 6);
  margin-bottom: 20px;
}
.contain .content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contain .content .paragraphs{
  width: calc(90% / 3);
  display: flex;
  flex-wrap: wrap;
}
.contain .content .paragraphs>div{
  display: flex;
  flex-wrap: nowrap;
  color: orangered;
}
.contain .content .paragraphs>div>i{
  margin: 20px 10px 0px 0px;
  font-size: 32px;
  font-weight: bold;
  align-content: space-around;
}
.contain .content .paragraphs>div>h4{
  margin: 5px;
  font-size: 28px;
  font-weight: bold;
  align-content: space-around;
}
.contain .content .paragraphs p{
  margin: 15px 0px;
}
.contain .content .paragraphs a{
  margin: 5px;
  text-decoration: none;
  background-color: orangered;
  color: white;
  padding: 5px;
  font-size: 16px;
}
.contain .splitter{
  width: 100%;
  margin-bottom: 10px;
}
.contain .splitter>div{
  display: flex;
  color: gray;
}
.contain .splitter>div h3{
  width: 15%;
}
.contain .splitter>div .hori-rul{
  width: 100%;
  background-color: rgba(128, 128, 128, 0.678);
}
.contain .last{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contain .last div{
  width: calc(97% / 4);
  border: 1px solid gray;
  font-weight: bold;
}
.contain .last div:hover{
  cursor: pointer;
}

.contain .last div img{
  width: 100%;
}
.contain .last div h4{
  padding: 5px;
  margin-left: 5px;
  color: grey;
}

.contain .last div p{
  padding: 5px;
  margin-left: 5px;
  color: orangered;
}

.footer{
  width: 100%;
  background-color: rgba(255, 68, 0, 0.315);
}
.footer .footer-content{
  width: 95%;
  margin: auto;
  background-color: orangered;
  display: flex;
  justify-content: space-between;
  color: white;
  border-right: 10px solid white;
  border-left: 10px solid white;
}
.footer .footer-content div{
  width: calc(95% / 3);
}
.footer .footer-content div h3,
.footer .footer-content div p{
  padding: 5px;
  margin: 10px;
}

.footer .footer-content div p i{
  font-size: 24px;
}
.footer .footer-content div p i:hover{
  color: blue;
}
/* ========== MEDIA =============== */
@media(max-width: 1500px) {
  .contain .main-img{
    height: 40vh;
  }
  .contain .splitter>div h3{
    width: 20%;
  }
}
@media(max-width:1200px) {
  .contain .splitter>div h3{
    width: 25%;
  }
}
@media(max-width:950px) {
  .contain .mini-imgs img{
    width: calc(93% / 3);
  }
  .contain .content{
    justify-content: space-around;
  }
  .contain .content .paragraphs{
    width: calc(90% / 2);
    margin-bottom: 10px;
  }
  .contain .splitter>div h3{
    width: 30%;
  }
}

@media(max-width: 750px) {
  .header .nav ul li{
    display: none;
  }
  .header .nav ul .bar-icon{
    display: inline-block;
  }
  .contain .mini-imgs{
    justify-content: space-around;
  }
  .contain .mini-imgs img{
    width: calc(90% / 2);
  }
  .contain .content .paragraphs{
    width: 90%;
  }
  .contain .splitter>div h3{
    width: 40%;
  }
  .contain .last{
    flex-wrap: wrap;
  }
  .contain .last div{
    width: calc(97% / 2);
    margin-bottom: 10px;
  }
  .footer .footer-content{
    flex-wrap: wrap;
  }
  .footer .footer-content div{
    width: 95%;
  }
}
@media(max-width: 600px){
  .contain .splitter>div h3{
    width: 60%;
  }
}
@media(max-width: 450px) {
  .contain .last div{
    width: 97%;
    margin: auto;
    margin-bottom: 10px;
  }
  .contain .splitter>div h3{
    width: 90%;
  }
}